.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    margin: auto;
}

.block {
    height: 500px;
    background-color: royalblue;
    align-self: flex-end;
}